[submodule "themes/chicago7"]
	path = themes/chicago7
	url = https://github.com/akopdev/hugo-theme-chicago7.git
[submodule "themes/hugo-bearcub"]
	path = themes/hugo-bearcub
	url = https://github.com/clente/hugo-bearcub.git
